* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 16px;
}

/* :root {
    --font: Arial, Helvetica, sans-serif;
} */

/* header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

} */

.autohide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
    width: 100%;
}

.navbar span {
    padding: 10px;
    font-size: 18px;
}

span a {
    color: #000;
}

.burger {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.logo {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.nav-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 100;
}

.nav-img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-image: url("img/OI000018.JPG");
    background-size: cover;
    background-position: center center;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 100;
}

.nav-active,
.nav-img-active {
    transform: translateX(0%);
}


nav ul {
    list-style: none;
}

nav li {
    margin: 30px;
    text-align: center;
}

nav li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #000;
    transition: 0.2s ease;
}

nav li:hover::after {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    padding: 10px;
    /* font-family: var(--font); */
    transition: 0.3s ease;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FFF;
    transform: scale(0.5);
}

.swiper-pagination-bullet {
    background-color: #FFF;
}



.hero-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* width: 300px;
    height: 200px; */
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    /* margin: 20px; */
    /* color: white; */
    /* padding: 10px; */
}

.text {
    /* margin: 0 auto; */
    /* margin-left: 100px; */
    /* width: 1200px; */
    /* min-height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #FFF;
    padding: 10px;
}

.text h1 {
    font-size: 50px;
}

.text p {
    font-size: 20px;
    margin: 20px 0px;
    max-width: 550px;
}

.btn {
    text-decoration: none;
    padding: 15px 40px;
    font-size: 20px;
    position: relative;
    color: #fff;
}

.btn::after,
.btn::before {
    border: 2px solid #fff;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s ease;
}

.btn:hover::after {
    transform: translate(-5px, -5px);
}

.btn:hover::before {
    transform: translate(5px, 5px);
}



/* .text .swiper-container {
    width: 100%;
    height: 100%;
} */







/* .about {
    font-size: 30px;
} */

/* @media (max-width: 600px) and (orientation: portrait) { */
@media (max-width: 600px) {
    .phone {
        display: none;
    }

    .text {
        margin: 0 auto;
        width: 90%;
        padding: 10px;
    }

    .btn:hover::after {
        transform: translate(-3px, -3px);
    }

    .btn:hover::before {
        transform: translate(3px, 3px);
    }

    .text h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 16px;
        margin: 20px 0px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .nav-img {
        width: 0;
    }
}

/* .about {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

} */


.about p {
    font-size: 18px;
    margin: 20px 0;
}

.title {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 30px;
}

.title h2::before {
    content: "";
    background-color: #f2f2f2;
    width: 2px;
    height: 50px;
    display: block;
    margin: 30px auto;
}


.about-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-text,
.about-photo {
    flex-basis: 50%;
    padding: 30px;
}

.about-photo img {
    width: 100%;
    box-shadow: 5px 5px 5px #333;
}

.about-text h3 {
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0px;
}

.offer {
    width: 100%;
    /* background-color: #f2f2f2; */
    background-color: #9da87a;
    display: flex;
    justify-content: center;
    margin: 60px 0px;
    padding: 40px 0px;
}

/* .offer .container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
} */

.offer-logo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-logo h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 30px;
}

.logo-black {
    width: 300px;
}

.logo-black img {
    width: 100%;
}

.features {
    border-top: 1px solid #000;
}

.features ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 40px;
}

.features li {
    width: 40%;
    font-size: 22px;
    padding: 30px;
}

.features li::before {
    content: "\1F410";
    margin-right: 10px;
}

/* @media (max-width: 600px) and (orientation: portrait) { */
@media (max-width: 600px) {

    .about-text,
    .about-photo {
        text-align: center;
        flex-basis: 100%;
        padding: 30px;
    }

    .features li {
        width: 100%;
    }

}

@media (max-width: 600px) and (orientation: landscape) {

    .about-text,
    .photo {
        text-align: center;
        flex-basis: 100%;
        padding: 30px;
    }

    .features li {
        width: 100%;
    }

    .text {
        margin: 0 auto;
        width: 90%;
        padding: 10px;
    }

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 16px;
        margin: 10px 0px;
    }

    header {
        height: 60px;
    }

    .logo {
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }


    nav li {
        margin: 10px;
        text-align: center;

    }

    nav li a {
        font-size: 20px;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .text h1 {
        font-size: 35px;
    }

    .text p {
        font-size: 16px;
        margin: 10px 0px;
    }

    header {
        height: 60px;
    }

    .logo {
        height: 60px;
    }

    nav li {
        margin: 10px;
        text-align: center;

    }

    nav li a {
        font-size: 22px;
    }
}

.gallery h2 {
    font-size: 30px;
    margin: 40px;
    text-align: center;
    font-weight: 300;
}

/* .container {
    width: 100%;
    max-width: 120rem;
    margin: 30px auto;
    padding: 0 1.5rem;
} */

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
        'gallery-2 gallery-3 gallery-5 gallery-5'
        'gallery-2 gallery-4 gallery-7 gallery-8'
        'gallery-1 gallery-1 gallery-6 gallery-8';
}

.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i {
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}

.img-1 {
    grid-area: gallery-1;

    background-image: url("img/gallery-1.jpg");
}

.img-2 {
    grid-area: gallery-2;
    min-height: 51.5rem;
    background-image: url("img/gallery-2.jpg");
}

.img-3 {
    grid-area: gallery-3;
    background-image: url("img/gallery-3.jpg");
}

.img-4 {
    grid-area: gallery-4;
    background-image: url("img/gallery-4.jpg");
}

.img-5 {
    grid-area: gallery-5;
    background-image: url("img/gallery-5.jpg");
}

.img-6 {
    grid-area: gallery-6;
    background-image: url("img/gallery-6.jpg");
}

.img-7 {
    grid-area: gallery-7;
    background-image: url("img/gallery-7.jpg");
}

.img-8 {
    grid-area: gallery-8;
    min-height: 51.5rem;
    background-image: url("img/gallery-8.jpg");
}

@media screen and (max-width: 900px) {
    .image-gallery {
        grid-template-areas:
            'gallery-2 gallery-2 gallery-3 gallery-3'
            'gallery-2 gallery-2 gallery-4 gallery-4'
            'gallery-1 gallery-1 gallery-5 gallery-5'
            'gallery-6 gallery-7 gallery-7 gallery-7'
            'gallery-8 gallery-8 gallery-8 gallery-8';
    }

}

@media screen and (max-width: 600px) {
    .image-gallery {
        grid-template-areas:
            'gallery-1 gallery-1 gallery-1 gallery-1'
            'gallery-2 gallery-2 gallery-2 gallery-2'
            'gallery-3 gallery-3 gallery-3 gallery-3'
            'gallery-4 gallery-4 gallery-4 gallery-4'
            'gallery-5 gallery-5 gallery-5 gallery-5'
            'gallery-6 gallery-6 gallery-6 gallery-6'
            'gallery-7 gallery-7 gallery-7 gallery-7'
            'gallery-8 gallery-8 gallery-8 gallery-8';
    }

}

.faq {
    background-color: #f2f2f2;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title {
    font-size: 3rem;
    margin: 2rem 0rem;
    font-weight: 300;
}

.faq-container {
    max-width: 1000px;
    margin-top: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
    font-weight: 300;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq-container.active .answer {
    max-height: 300px;
    animation: fade 0.8s ease-in-out;
}

.faq-container.active i {
    transform: rotate(180deg);
}

i {
    transition: transform 0.4s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}




.contact .container {
    display: flex;
    margin: 100px auto;

}

.contact-img {
    width: 50%;
    height: auto;
    background-image: url("img/gallery-2.jpg");
    background-size: cover;
    background-position: center;
}

.contact-wrapper {
    padding: 50px;
    width: 720px;
    /* background-color: #f5f5f5; */
    border: 1px solid #ddd;
}

.contact-title {
    font-size: 36px;
}

.contact-wrapper p {
    font-size: 20px;
}

.contact-wrapper .info {
    margin: 30px 0;
}


.info ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.info-1::before {
    content: "Adres";
    display: block;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
}

.info-2::before {
    content: "Telefon";
    display: block;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
}

.info-3::before {
    content: "Wiadomość";
    display: block;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
}

.info li {
    font-size: 20px;
}

.info li a {
    color: #000;
    text-decoration: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form h3 {
    font-size: 26px;
    margin: 20px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.contact-form form label {
    font-size: 14px;
    color: #666;
    padding: 10px 0;
}

.contact-form form input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #666;
    margin-bottom: 10px;
}

.contact-form form textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #666;
    margin-bottom: 10px;
    resize: none;
}

form .btn {
    width: 250px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    color: #000;
    text-align: center;
    background-color: transparent;
    align-self: flex-end;
    border: 2px solid #666;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}

form .btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.social-media {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.social-media h3 {
    font-size: 26px;
    margin: 20px 0;
}

.social-media ul {
    list-style: none;
    display: flex;
}

.social-media li {
    margin-right: 30px;
}

.social-media a {
    text-decoration: none;
    color: #000;
    font-size: 20px;

}

.social-media a i {
    margin-right: 10px;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    padding: 5%;
}

.footer-about p {
    margin: 10px 0;
}

/* .about i {
    font-size: var(--h3-font-size);
    margin-right: 10px;
    color: var(--text-grey);
    transition: .3s;
}

.about i:hover {
    color: #000;
} */

footer .navigation,
footer .social,
footer .contact {
    padding: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer a {
    text-decoration: none;
    color: #000;
    margin: 10px 0;
    transition: .3s;
}

footer a:hover {
    color: var(--text-grey);
}

footer h3,
footer h2 {
    padding: 10px 0;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
}

@media screen and (max-width: 1024px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer-about,
    footer .navigation,
    footer .social,
    footer .contact {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {

    .footer-about,
    footer .navigation,
    footer .social,
    footer .contact {
        width: 100%;
    }

    .copyright {
        flex-direction: column;
    }

    .copyright p {
        padding: 10px;
    }
}